<a href="https://www.facebook.com/dialog/oauth?
    client_id=1552291421696748
   &redirect_uri=http://localhost:3000/facebook/callback" >Facebook Login</a>

<a href="https://api.venmo.com/v1/oauth/authorize?client_id=2429&scope=make_payments%20access_profile%20access_email%20access_balance&response_type=code">Venmo Login</a>
