
<script src='https://platform.venmo.com/sdk.js'></script>


<p>Make your bet!</p>

Amount: $ <input type="number" name="bid_amount" id="price" min="1" max="5" default=5><br>

<a class="venmo-pay-button" id="pay_button" data-recipient-id="kimberly-leon" data-amount=5 ></a>
