/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


img{
	width: 160px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

input{
	font-family: "Aleo";
	font-size: 24px;
}

body{
	background-color: #1975D1;
	margin: 50px;
}

p{
	font-size: 30px;
	font-family: "Aleo";
}

hr { 
    display: block;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

#wrapper{
	width: 1100px;
	margin: 0 auto;
}

#left_bar{
	background-color: #1A3380;
	width: 200px;
	float: left;
	height: 500px;
}

#left_text{
	font-size: 20px;
	margin: 20px;
	color: white;
}

#results_bar{
	background-color: #F5F5F5;
	padding: 25px;
    right: 150px;
    float: left;
    width: 850px;
}

#name{
	font-size: 24px;
	font-family: "Aleo";
	margin-top: 20px;
	margin-bottom: 20px;
}

#info{
	margin-right: 400px;
	float: right;
}

#price{
	margin-right: 10px;
	font-family: "Aleo";
}

#bid_button{
	font-family: "Aleo";
}

#bid_text{
	font-size: 10px;
}

#each_friend{
	margin-top: 25px;
}
